body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  margin: 50px;
  background-color: lightskyblue;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-family: 'Coiny', cursive;
  color: aliceblue;
  text-align: center;
}

img {
  width: 650px;
  height: auto;

}